@mainColor: #0F7C45;
html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.header {
    height: 70px;
    background: @mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    img {
        height: 70%;
        cursor: pointer;
    }

    .menu {
        li {
            float: left;
            list-style: none;
            margin-left: 100px;
            cursor: pointer;
            color: #fff;
            letter-spacing: 1px;
        }
    }
}
.text-center{
    text-align: center;
}
.content {
    flex: 1;

    iframe {
        width: 100%;
        height: 100%;
    }
}
.main{
    background: url('../../static/img/main-bg.jpg') 100% 100%;
    background-size: 100% auto;
    // background-color: #282A36;
    color: #fff;
    padding: 150px 0;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 220px;
        }
        h1 {
            font-size: 3em;
            color:@mainColor
        }
    }
    .description {
        text-indent: 2rem;
        padding: 0 20%;
        font-size: 1.2em;
        line-height: 2em;
    }

}

.system {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 50%;
    }
}
