<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>通过数据渲染场景</title>
  <style>
    #TO {
      width: 1300px;
      height: 1000px;
      position: relative;
    }

    #detail {
      width: 100px;
      height: 100px;
      position: fixed;
      left: 0;
      top: 0;
    }
  </style>
</head>

<body>
  <div id="TO"></div>
  <div id="detail"></div>

  <script src="../../dist/ThingOrigin2.0.js"></script>
  <script>
    let mainScene = new ThingOrigin(
      "videoTest",
      document.getElementById("TO"),
      {

        modelList: [
          {
            "loadType": "userModel",
            "userData": {
              "loadType": "userModel",
              "rootName": "ABB-1",
              "sim": {
                "inverse": {
                  "moveMatrix": [
                    1,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    0,
                    0,
                    0,
                    1
                  ],
                  "rotateMatrix": [
                    1,
                    0,
                    0,
                    0,
                    0,
                    1,
                    0,
                    -1,
                    0
                  ]
                },
                "product": "ABB-x001",
                "type": "Robot"
              },
              "hierarchy": {
                "joints": [
                  {
                    "dataUrl": "root.1",
                    "modelName": "WS30-1",
                    "axis": "y",
                    "reverse": 1
                  },
                  {
                    "dataUrl": "root.2",
                    "modelName": "WS30-2",
                    "axis": "z",
                    "reverse": 1
                  },
                  {
                    "dataUrl": "root.3",
                    "modelName": "WS30-3",
                    "axis": "z",
                    "reverse": 1
                  },
                  {
                    "dataUrl": "root.4",
                    "modelName": "WS30-4",
                    "axis": "x",
                    "reverse": 1
                  },
                  {
                    "dataUrl": "root.5",
                    "modelName": "WS30-5",
                    "axis": "z",
                    "reverse": 1
                  },
                  {
                    "dataUrl": "root.6",
                    "modelName": "柱体",
                    "axis": "x",
                    "reverse": 1
                  }
                ],
                "end": "柱体"
              },
              "physics": {
                "restitution": 0.5,
                "moveData": {
                  "x": 0,
                  "y": 0,
                  "z": 0
                },
                "mass": 0,
                "friction": 0.5
              },
              "by": "ThingOrigin3D",
              "modelType": "gltf"
            },
            "saved": true,
            "rotation": {
              "x": 0,
              "y": 0,
              "z": 0
            },
            "scale": {
              "x": 1,
              "y": 1,
              "z": 1
            },
            "modelType": "gltf",
            "title": "机械臂",
            "type": "Group",
            "modelSize": 1591311,
            "uuid": "df3e4391-2137-4d70-a770-d2b5ae1e8b92",
            "modelName": "ABB-1",
            "ownMarker": false,
            "imageUrl": "http://114.115.165.12:8084/model2/loadImageFileAsId/3012",
            "name": "ABB-1",
            "id": 3012,
            "text": "ABB机器人",
            "position": {
              "x": 0,
              "y": 0,
              "z": 0
            },
            "modelUrl": "http://114.115.165.12:8084/model2/loadFileAsId/3012",
            "model": {},
            "dataBaseName": "Editor3D",
            "tableName": "Editor3D"
          }
        ]
      }
    );

    // let cube = ThingOrigin.model.initCube({
    //   modelName: "cube-1",
    //   config: {
    //     position: {
    //       x: 50,
    //       y: 20,
    //       z: 20,
    //     },
    //   },
    // });
    // mainScene.add(cube);
  </script>
</body>

</html>
